auraloss==0.3.0
einops==0.6.0
librosa==0.9.2
matplotlib==3.5.3
numpy==1.22.3
onnxruntime==1.13.1
pandas==1.5.3
pydtmc==7.0.0
pytorch_lightning==1.9.0
scikit_learn==1.2.1
soundfile==0.11.0
torch==1.13.1
torchmetrics==0.11.0
tqdm==4.64.0
pystoi==0.3.3
pesq==0.0.4
onnx==1.13.0